- @group.messages.each do |message|
  .chat__main__message{data: {message_id: message.id}}
    - if message.body.present? || message.image.present? 
      .chat__main__message__user-info
        %p.chat__main__message__user-info__user-name
          = message.user.name
        %p.chat__main__message__user-info__date
          = message.created_at.strftime("%Y/%m/%d(%a) %H:%M:%S") if message.created_at.present?
      .chat__main__message__text
        - if message.body.present?
          %p.chat__main__message__text__body
            = message.body 
        = image_tag message.image.url, class: "chat__main__message__text__image" if message.image.present?
