.chat__main__message 
  .chat__main__message__user-info
    %p.chat__main__message__user-info__user-name TEST-USER
    %p.chat__main__message__user-info__date 2019/04/14(Sun) 16:43:20
  %p.chat__main__message__text こんにちは！
