%body
  .wrapper
    .side-contents
      .side-contents__header
        %p.side-contents__header__user-name
          =current_user.name
        %ul.side-contents__header__menu
          %li.side-contents__header__menu__link
            = link_to new_group_path do
              %i.fa.fa-edit
          %li.side-contents__header__menu__link
            = link_to edit_user_path(current_user.id) do
              %i.fa.fa-cog
      .side-contents__groups
        .side-contents__groups__group
          = render "messages/group"
