*{
  box-sizing: border-box;
}

.wrapper {
  display: flex;

  .side-contents {
    color: $white;
    width: 300px;
    box-sizing: border-box;
  }

  .chat {
    width: calc(100vw - 300px);
    float: left;
  }

  .form {
    background: #ddd;
    padding: 20px 40px;
  }
}
